
<div class="flex-wrapper">

  <div class="container">

    <div class="header">
      <h1>/cocktails</h1>
    </div>

    <div class="left-side"></div>

    <div class="body-content">
        <% @cocktails.each do |cocktail| %>
          <p><%= link_to(cocktail.name, cocktail_path(cocktail.id)) %></p>
        <% end %>
    </div>

    <div class="right-side"></div>

    <div class="footer">
      <h2><%= link_to("create a cocktail", new_cocktail_path) %></h2>
    </div>
  </div>

</div>
