// Specific CSS for your home-page


@mixin bg-move($degree) {
  // background-image: linear-gradient(#{$degree}+deg, pink, $light-gray);
  // background-color: $degree;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

// mixin for gradient movement with cursor

.container {
  flex: 0 1 auto;
  width: 80%;
  background: $pink;
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 25% auto 25%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 20px;
  box-shadow: 1px 1px 3px $orange;
}

.header {
  grid-column: 1 / span 3 ;
  grid-row: 1 / span 1;
  text-align: center;
  text-shadow: 1px 1px 2px $orange;
  color: $pink;
}

.body-content {
  grid-column: 2 / span 1 ;
  grid-row: 2 / span 1;
  padding: 20px;
  text-align: center;
  a {
    color: rgba(230, 126, 34,0.8);
    text-decoration: none;
    &:hover {
      color: rgba(230, 126, 34,0.9);
    }
  }
}

.left-side {
  grid-column: 1 / span 1 ;
  grid-row: 2 / span 1;
}

.right-side {
  grid-column: 3 / span 1 ;
  grid-row: 2 / span 1;
}

.footer {
  grid-column: 1 / span 3 ;
  grid-row: 3 / span 1;
  text-align: center;
  padding-bottom: 25px;
  text-shadow: 1px 1px 2px $orange;
  color: $pink;
  a {
    text-decoration: none;
    color: $pink;
  }
}
